.com-header :global {
  @apply bg-teal-100;
  @apply px-[100px] py-3;

  .com-header--inner {
    @apply flex items-center justify-between;

    .com-header--links {
      @apply flex shrink-0 items-center gap-8;
      a {
        @apply text-xl font-bold leading-6 text-[#0C0A09];
      }
    }

    .com-header--logo {
      @apply text-right text-[32px] text-[#FDE047];
      @apply font-bold leading-9 [text-shadow:_2px_1px_0_rgba(0,0,0,0.90)];
    }

    .com-header--controls {
      @apply flex items-center justify-end gap-6 text-[#030712];

      .com-header--controls--sounds {
        @apply flex justify-center gap-2 py-4 px-3;
        @apply border-[3px] border-[#000] bg-[#FAFAFA];
        @apply rounded-[8px_0_0_8px];
      }

      .com-header--controls--zoom {
        @apply flex items-center justify-center gap-2 py-4 px-3;
        @apply rounded-[0_8px_8px_0] border-[#000] bg-[#FAFAFA];
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        border-bottom: 3px solid #000;
        span {
          @apply text-xl font-semibold leading-6;
        }
      }

      .com-header--controls--auth {
        button {
          @apply flex items-center justify-center gap-2 py-4 px-8;
          @apply rounded-lg border-[3px] border-[#000];
          @apply bg-[#FDE047] shadow-[2px_4px_0_0_#000];
        }
        span {
          @apply text-xl font-semibold leading-6 text-[#030712];
        }
      }
    }
  }
  h1 {
    @apply text-center;
  }
}
